# Meson build directories
builddir/
builddir-*/

# Meson subproject
subprojects/packagecache/

subprojects/bullet3/
subprojects/spdlog-*
subprojects/fmt-*

# Editor
.vscode/
.idea/

# Other common ignored files
*.o
*.so
*.a
*.pyc
*.log